.ntw{
    display: flex;
     justify-content: center;
     color: white;
}
.ntw h3{
    font-size: 20pt;
    font-weight: 600;
    padding: 1.5rem;
}
.ntw_container{
    height: auto;
    width: 80vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    border-radius: 20px;
    box-shadow: 11px 13px 10px 5px rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(#669e66,  #72995e);
    
}
.c_icon{
    height: 10vh;
    width: auto;
}
.c_image{
    height: auto;
    width: 70vw;
    border-radius: 20px;
    filter: drop-shadow(4px 6px 4px rgba(0, 0, 0, 0.4));
}
.ntw_paragraph{
    margin-left: 12vw;
    margin-right: 12vw;
    padding: 2vw;
    padding-bottom: 4v;
}