.banner{
    height: 35vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.b_img{
    background-image: url('https://images.unsplash.com/photo-1586550803730-76f9f54876ad?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80');
    height: 40vh;
    width: 100vw;
   background-size: cover;
   display: flex;
   justify-content: center;
}
.b_1{
   margin-top: 2.5vh;
    background-color: #242424;
    z-index: 2;
    height: 30vh;
    width: 45vw;
    border-radius: 20px;
    box-shadow: 11px 13px 10px 5px rgba(0, 0, 0, 0.25);
}
.b_2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5vh;
}
.banner button{
    height: 5vh;
    width: 15vh;
    background-color: #DBBA4B;
    border: none;
    border-radius: 20px;
    font-family: 'Raleway';
    font-size: 18pt;
    font-weight: 600;
    color: white;
    align-self: center;
    margin-top: 5vh;
    cursor: pointer;
}
.banner button:hover{
    height: 5vh;
    width: 15vh;
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
    font-family: 'Raleway';
    font-size: 18pt;
    font-weight: 600;
    color: #DBBA4B;
    align-self: center;
    margin-top: 5vh;
    transition: 1s;
}
.banner h1{
    color: #ACDC95;
    font-size: 40pt;
    font-weight: 800;
  
}
.b_h4{
    color: #4FA673;
    font-size: 18pt;
    padding-bottom: 2vh;
    font-weight: 600;
}
.b_h4g{
    background: -webkit-linear-gradient(left, #FFFFFF, #DBBA4B);
    background: -o-linear-gradient(right, #FFFFFF, #DBBA4B);
    background: -moz-linear-gradient(right,  #FFFFFF, #DBBA4B);
    background: linear-gradient(to right,  #FFFFFF, #DBBA4B); 
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   margin-left: 16vw;
   font-size: 18pt;
   font-weight: 600;
   padding-top: 2vh;
}