.home{
    margin-top: 12.75vh;
    padding-top: 5vh;
    width: 100vw;
    background-image: linear-gradient(#4FA673, #DBBA4BA8 , #FB492C87 ) ;
    height: 400vh;
    display: flex;
    justify-content: center;
}
.welcome{
    margin: 5vh;
    background-color: #242424;
    height: 30vh;
    width: 70vw;
    border-radius: 20px;
    box-shadow: 11px 13px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
.w{
    display: flex;
    flex-direction: column;
    width: 35vw;
    white-space: nowrap;
}

.w_1{
    margin-right: 38rem;
    color: #4FA673;
    font-size: 18pt;
}
.w_2{
    font-size: 56pt;
    color: #DBBA4B;
   margin: -30px;
}
.w_3{
margin-left: auto;
color: #4FA673;
font-size: 18pt;
}
