.home{
    margin-top: 11vh;
    padding-top: 5vh;
    width: 100vw;
    background-image: linear-gradient(#4FA673, #DBBA4BA8 , #FB492C87 ) ;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.welcome{
    margin: 5vh;
    margin-bottom: 15vh;
    background-color: #242424;
    height: 30vh;
    width: 60vw;
    border-radius: 20px;
    box-shadow: 11px 13px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    align-self: center;
}
.w{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 35vw;
    white-space: nowrap;
}
.w_1{
    margin-right: 38rem;
    color: #4FA673;
    font-size: 18pt;
}
.w_2{
    font-size: 56pt;
    font-weight: 700;
    color: #DBBA4B;
   margin: -30px;

}
.w_3{
margin-left: auto;
color: #4FA673;
font-size: 18pt;
}

.p_1{
    color: white;
    font-weight: 500;
   margin-right: 7vw;
   margin-left: 7vw ;

}